
.carousel .carousel_content .carousel_tittle {
    font-size: var(--font-xs);
}
.carousel .carousel_content .carousel_img_box .carousel_img_description {
    font-size: var(--font-xs);
}
.menu .menu_content .menu_img_box .menu_list {
    grid-template-columns: repeat(1, auto);
    padding: var(--spacing-xxl) 0;
}