.footer {
    background-color: var(--background-dark-green);
}
.footer .footer_content {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: var(--gap-lg);
    padding: var(--spacing-xl) 20px;
}
.footer .footer_content .main_footer_content {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: var(--gap-sm);
}
.footer .footer_content .main_footer_content .contact_information_title {
    font-size: var(--font-sm);
    color: var(--background-ivory);
}
.footer .footer_content .main_footer_content .contact_information_list {
    list-style: disc;
    justify-content: flex-start;
}
.footer .footer_content .main_footer_content .contact_information_list .contact_information_list_item {
    margin-top: var(--spacing-xs);
    font-size: var(--font-xs);
    color: var(--shade-ivory-text);
}
.footer .footer_content .main_footer_content .contact_information_list .contact_information_list_item .contact_information, .footer .footer_content .main_footer_content .contact_information_list .contact_information_list_item .contact_link {
    display: inline-block;
    word-wrap: break-word;
}
.footer .footer_content .main_footer_content .contact_information_list .contact_information_list_item .about_location, .footer .footer_content .main_footer_content .contact_information_list .contact_information_list_item .contact_link {
    font-size: var(--font-xs);
}
.footer .footer_content .main_footer_content .contact_information_list .contact_information_list_item .contact_link {
    color: var(--shade-ivory-text);
    border-bottom: 1px solid var(--shade-ivory-text);
}
.footer .footer_content .main_footer_content .contact_information_list .contact_information_list_item .contact_information_list_icon {
    width: var(--width-sm-v2);
}
.footer .footer_content .social_networks {
    margin-top: var(--spacing-lg);
}
.footer .footer_content .social_networks .contact_information_list {
    list-style: none;
    grid-template-columns: repeat(2, auto);
}
.footer .map_location .iframe_map_location {
    border-radius: var(--border-radius-xl);
    width: 100%;
    height: 300px;
}
.footer .create_by .create_by_link {
    font-size: clamp(4px, 1vw, 8px);
    color: var(--shade-sand);
}
