.header {
    top: 0;
    width: 100%;
    padding: 35px 0;
    z-index: 100;
    background-color: var(--background-shade-sand);
}
.header .header_content .nav {
    grid-template-columns: minmax(13%, 0) 4fr 1fr;
}
.header .header_content .nav .logo_header {
    width: 100%;
    font-size: var(--font-lg);
    color: var(--shade-forest-text-h);
    text-transform: uppercase;
    cursor: pointer;
}
.header .header_content .nav .list_box {
    padding: 0 var(--padding-xl);
}
.header .header_content .nav .list_box .list {
    width: 100%;
    grid-template-columns: repeat(5, auto);
    gap: var(--gap-xl);
}
.header .header_content .nav .list_box .list .list_item .link_item {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: var(--font-sm);
    color: var(--shade-forest-text-a);
}
.header .header_content .nav .list_box .list .list_item .link_item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    margin: 0 auto;
    border-bottom: 1.5px solid var(--shade-forest-text-a-hover);
    transition: var(--transition-medium);
}
.header .header_content .nav .list_box .list .list_item .link_item:hover::after, .header .header_content .nav .list_box .list .list_item .link_item:focus::after {
    width: 100%;
    color: var(--shade-forest-text-a-hover);
}
.header .header_content .nav .list_box .list .list_item .link_item:hover, .header .header_content .nav .list_box .list .list_item .link_item:focus {
    color: var(--shade-forest-text-a-hover);
}
.header .header_content .nav .list_box .list .list_item .link_item:active {
    color: var(--shade-forest-text-a-hover);
}
.header .header_content .nav .header_form_content_popup {
    display: grid;
    position: absolute;
    top: 21%;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -129%);
    width: var(--width-xxl);
    background: var(--background-dark-green);
    border-radius: var(--border-radius-xl);
}
.header .header_content .nav .header_form_content_popup .close_header_button_popup {
    width: 34px;
    background-color: transparent;
    border: none;
    justify-self: end;
    margin: 20px;
    cursor: pointer;
}
.header .header_content .nav .header_form_content_popup .telegram_form {
    display: grid;
    place-content: center;
    padding: var(--padding-lg);
    gap: 30px;
}

.telegram_info_form{
    color: #fff;
    max-width: 286px;
}

.telegram_info_form .popup_title{
    font-size: var(--font-xl);
}

.telegram_info_form .popup_p{
    font-size: var(--font-xs);
}

.header .header_content .nav .header_form_content_popup .input {
    width: var(--width-sm);
    height: var(--height-md);
    font-size: var(--font-md);
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: var(--border-radius-lg);
    color: var(--shade-white-text);
    background-color: rgba(255, 255, 255, 0.27);
}
.header .header_content .nav .header_form_content_popup input:-webkit-autofill {
    appearance: none;
    -webkit-appearance: none;
}
.header .header_content .nav .header_form_content_popup .input_label {
    top: 18px;
    left: 14px;
    display: grid;
    white-space: nowrap;
    user-select: none;
    z-index: -1;
    font-size: var(--font-x);
    color: var(--shade-ivory-text);
    transition: 0.3s ease-in;
}
.header .header_content .nav .header_form_content_popup .input:focus + label, .header .header_content .nav .header_form_content_popup .input:not(:placeholder-shown) + .input_label {
    top: -30px;
}
.header .header_content .nav .header_form_content_popup .submit_button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--background-white-button);
    color: var(--shade-forest-text-button);
    border: none;
    cursor: pointer;
    border-radius: 100px;
    transition: var(--transition-fast);
}
.header .header_content .nav .header_form_content_popup .submit_button .spinner {
    position: absolute;
    top: 10px;
    left: 45%;
    display: none;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}
.header .header_content .nav .header_form_content_popup .submit_button:hover {
    background-color: var(--shade-forest-text-button);
    color: var(--background-white-button);
}
.header .header_content .nav .burger_menu {
    width: 50px;
    z-index: 6;
    cursor: pointer;
    display: none;
}
.header .header_content .nav .burger_menu .burger_line {
    margin-bottom: 7px;
    width: 100%;
    border: 2px solid var(--background-dark-green);
    border-radius: 6px;
}
.header .header_content .nav .burger_menu .burger_line:nth-child(3) {
    margin-bottom: 0;
}
.header .header_content .nav .burger_menu .burger_slide_content {
    z-index: 7;
    width: 240px;
    height: 150vh;
    margin-top: 43px;
    background-color: var(--background-shade-sand);
    border-radius: 30px 0;
}
