.footer{
    background-color: var(--background-dark-green);
    .footer_content{
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        gap: var(--gap-lg);
        padding: var(--spacing-xl) 20px;
        .main_footer_content{
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        }


    .map_location{
        grid-column: 3;
        .iframe_map_location{
            width: 100%;
            height: 300px;
        }
    }
}