.footer{
    background-color: var(--background-dark-green);
    .footer_content{
        .main_footer_content{

        }

    .iframe_map_location{
        width: 100%;
        height: 300px;
    }
}