@font-face {
    font-family: "SosGro_U";
    src: url('../fonts/SosGro/SosGro_U.woff2') format('woff2'),
        url('../fonts/SosGro/SosGro_U.woff') format('woff'),
        url('../fonts/SosGro/SosGro_U.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Стили которые повторяются */

/* Кнопки__________________________________________________*/
.button{
    font-size: var(--font-xs-button);
    color: var(--background-white-button);
    background-color: var(--shade-forest-text-button);
    padding: 10px var(--padding-lg);
    border-radius: 20px;
    transition: .3s;
    text-transform: uppercase;
    border: 1px solid;
    cursor: pointer;
}

.button:hover{
    background-color: var(--background-text-white-button);
    color: var(--background-dark-green-button );
}
/* Кнопки__________________________________________________*/


/* Резервы_________________________________________________*/

/* Шрифт__________________________________________________*/
.font-family{
    font-family: "SosGro_U";
}

.text-transform-uppercase{
    text-transform: uppercase;
}

.text-align-center{
    text-align: center;
}
/* Шрифт__________________________________________________*/

/* Grid & Flex display_____________________________________________*/
.display-block{
    display: block
}

.inherit{
    display: inherit;
}
.grid{
    display: grid;
}

.flex{
    display: flex;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-flex-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: end;
}

.align-items-center{
    align-items: center;
}

.align-items-c

.place-content-center{
    place-content: center;
}
/* Grid & Flex display_____________________________________________*/

/* Position позиционирование________________________________*/
.position-sticky{
    position: sticky
}

.position-fixed{
    position: fixed;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.inset{
    inset: 0;
}
/* Position позиционирование________________________________*/
