* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1340px;
    margin: auto;
    padding: 0 10px;
}

.custom_container{
    width: 100%;
    margin: auto;
    position: relative;
    /* border: 1px solid red; */
    /* overflow: hidden; */
}