@import url("./reset.css");
@import url("./global.css");
@import url("./root.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./animation/header-animation.css");
@import url("./animation/intro-courusel-animation.css");

.intro_carousel{
    .carousel_content{
        column-gap: 50px;
        width: 100%;
        overflow: hidden;
        .carousel_box{
            height: 88vh;
            .carousel_box_fig{
                min-width: 100%;
                .carousel_img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                .carousel_description{
                    bottom: 0;
                    margin: var(--spacing-xxl);
                    white-space: nowrap;
                    .artist_title{
                        font-size: var(--font-sm);
                        font-weight: 100;
                        color: var(--shade-sand-text-h);
                        border: 1px solid red;
                    }
                }
            }
        }
        .button_box{
            width: 100%;
            height: 100%;
            z-index: 5;
            .carousel_button{
                background-color: transparent;
                border: none;
                height: 100px;
                cursor: pointer;
                .carousel_button_img{
                    width: clamp(20px, 10vw, 40px);
                }
            }
        }
    }
}

.welcome{
    padding: var(--spacing-xxl) 0;
    background-color: var(--background-shade-sand);
    .welcome_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: var(--gap-md);
        .welcome_text_content{
            display: grid;
            gap: var(--gap-sm);
            .welcome_title{
                font-size: var(--font-xxl);
                font-weight: 100;
                .welcome_strong{
                    color: var(--shade-forest-text-h);
                }
            }
            .welcome_p{
                font-size: var( --font-xs);
            }
        }
        .welcome_img_box{
            border-radius: var( --border-radius-xl);
            overflow: hidden;
            .welcome_img{
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

.menu{
    padding: var(--spacing-xxl) 0;
    background-color: var(--background-ivory);
    .menu_content{
        .menu_title{
            text-align: center;
            color: var(--shade-forest-text-h);
            font-size: var(--font-xxl);
        }
        .menu_img_box{
            .menu_list{
                grid-template-columns: repeat(4,auto);
                padding: var(--spacing-xxl) 0;
                .menu_list_item{
                    width: var(--width-xs-v2);
                    .menu_link_item{
                        color: var(--shade-forest-text-a);
                        .menu_desc{
                            margin-top: var(--spacing-lg);
                            .food_text{
                                font-size: var(--font-xs);
                            }
                        }
                    }
                }
            }
        }
        .button_box{
            display: flex;
            justify-content: center;
        }
    }
}

.about{
    padding: var(--spacing-xxl) 0;
    background-color: var(--background-shade-sand);
    .about_title{
        font-size: var(--font-xxl);
        color: var(--shade-forest-text-h);
    }
    .about_main{
        padding: var(--spacing-md) 0;
        .abaut_p{
            font-size: var(--font-xs);
            .abaut_p_logo{
                display: inline-block;
                word-wrap: break-word;
                font-family: initial;
                font-size: var(--font-xs);
                color: var(--shade-forest-text-p);
                font-weight: 600;
            }
        }
    }
}

.nostalgia_img_sec {
    width: 100vw;
    height: var(--height-xl-2);
    overflow: hidden;
    .nostalgia_img_fig {
        width: 100%;
        height: 100%;
        .nostalgia_img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    } 
}

.reviews{
    padding: var(--spacing-xxl) 0;
    overflow: hidden;
    .reviews_title{
        color: var(--shade-forest-text-h);
        padding: 0  0 var(--spacing-md) 0;
    }
}
